header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

nav {
    width: 100%;
    margin: 0;
    padding: 0;
    ul {
        @include display-flex(flex);
        @include justify-content(flex-start);
        @include flex-direction(column);
        background-color: rgba(palette(jaune, light), 0.9);
        width: 66.66%;
        
        //  enlever la mise en forme par défaut
        margin: 0;
        padding: 0;
        
        //  animation apparition menu
		transform: translateX(-110%) translateZ(0);
		transition: transform .3s cubic-bezier(.05, 1.06, .19, 1.26);
		will-change: transform;
        
        li {
            list-style: none;
        }
        a {
            display: block;
            margin: 0;
            padding: 1em;
            text-decoration: none;
            color: palette(bleu, dark);
            &:hover,
            &:target,
            &:active {
                color: palette(peach, dark);
                background-color: palette(peach);
            }
        }
    }
    input {
        display: none;
        //apparition du menu quand input checket
        &:checked ~ ul {
            transform: translateX(0) translateZ(0);
        }
    }
    label {
        background-color: rgba(palette(jaune, light), 0.9);
        display: flex;
        justify-content: flex-end;
        width: 100%;
        height: 50px;
        top: 1rem;
        right: 1rem;
        z-index: 1;
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-transition: .2s -webkit-transform cubic-bezier(0, 1.8, 1, 1.2);
        transition: .2s transform cubic-bezier(0, 1.8, 1, 1.2);
        
        &::before {
            content: "";
            display: block;
            z-index: 1;
            height: 1.6rem;
            width: 2rem;
            background-color: transparent;
            background-image: linear-gradient(to right, palette(bleu, mid-dark), palette(bleu, mid-dark)),
                linear-gradient(to right, palette(bleu, mid-dark), palette(bleu, mid-dark)),
                linear-gradient(to right, palette(bleu, mid-dark), palette(bleu, mid-dark));
            background-position: center top, center, center bottom;
            background-repeat: no-repeat;
            -webkit-background-size: 2rem .3rem;
            background-size: 2rem .3rem;
            margin: .75em;
            padding: 0;
            outline: 0;
            border: 0;
            cursor: pointer;
            -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
            -webkit-transition: .2s cubic-bezier(0, 1.8, 1, 1.2);
            transition: .2s cubic-bezier(0, 1.8, 1, 1.2);
            transition-property: background;
        }
    }
    input:checked + label::before {
        background-position: center, center, center;
    }
    
    @include breakpoint($media-tablet-min){
        ul {
            @include flex-direction(row);
            width: 100%;
            transform: none;
            transition: none;
            background-color: rgba(palette(jaune, light), 0);
            &:hover{
                background-color: rgba(palette(jaune, light), 0.9);
            }
        }
        label {
            display: none;
        }
    }
}


/* ANCIENNE PRESENTATION
nav {
    @include display-flex(flex);
    @include justify-content(flex-start);

    &:hover,
    &:target,
    &:active {
        @include alpha-attribute(background-color, rgba(palette(jaune, light), 0.9), $white);
    }

    a {
        color: palette(bleu);
        display: block;
        padding: 1em gutter(12);
        text-decoration: none;
        &:hover,
        &:target,
        &:active {
            color: palette(bleu, dark);
        }
    }
}
*/