<section class="project">
    <!-- En-tête -->
    <div class="banner" layout layout-wrap>
        <!-- titre du projet -->
        <h2 flex="90">{{projectCtrl.project.title}}</h2>
        <!--  Boutton retour -->
        <md-button id="button-back" class="md-fab md-primary" aria-label="retour au portfolio" href="portfolio">
            <!-- icon -->
            <md-icon md-font-set="md" class="material-icons">arrow_back</md-icon>
            <!-- tooltip -->
            <md-tooltip>Retour</md-tooltip>
        </md-button>
        <div class="banner-subtitle" flex="100">
            <div layout layout-fill layout-align="space-around center">
                <!-- date de réalisation du projet -->
                <p><strong>Date :</strong> {{projectCtrl.project.date | date}}</p>

                <!-- catégories du projet -->
                <p><strong>Types de travaux :</strong></p>
                <md-chips>
                    <!-- video -->
                    <md-chip ng-show="projectCtrl.project.video" class="md-mini">
                        <small>Vidéo</small>
                    </md-chip>

                    <!-- branding -->
                    <md-chip ng-show="projectCtrl.project.branding" class="md-mini">
                        <small>Branding</small>
                    </md-chip>

                    <!-- design print -->
                    <md-chip ng-show="projectCtrl.project.printDesign" class="md-mini">
                        <small>Design Print</small>
                    </md-chip>

                    <!-- webdesign -->
                    <md-chip ng-show="projectCtrl.project.webdesign" class="md-mini">
                        <small>Webdesign</small>
                    </md-chip>

                    <!-- dev web -->
                    <md-chip ng-show="projectCtrl.project.devWeb" class="md-mini">
                        <small>Développement Web</small>
                    </md-chip>
                </md-chips>
            </div>
        </div>
    </div>

    <!-- Content -->
    <div class="content" layout layout-gt-sm-margin layout-gt-sm-padding layout-wrap layout-align="space-between none">
        <!-- description du projet -->
        <p flex-gt-sm="45">
            {{projectCtrl.project.contexte}}
        </p>
        <p flex-gt-sm="45">
            {{projectCtrl.project.mission}}
        </p>
        <p flex-gt-sm="45">
            {{projectCtrl.project.results}}
        </p>

        <div flex="100" layout layout-align="center center" ng-hide="projectCtrl.project.urlProject === undefined">
            <md-button class="md-raised md-accent md-hue-3 call-action" href="{{projectCtrl.project.urlProject}}">
                Voir le projet
            </md-button>
        </div>

        <div flex="100" layout layout-align="center center" ng-show="projectCtrl.project.video">
            <youtube-video video-id="projectCtrl.project.idVideo"></youtube-video>
        </div>

        <!--https://www.youtube.com/embed/KJ7xtrn48qY-->
        <!-- galerie d'images -->
        <div deckgrid class="deckgrid" source="projectCtrl.project.images" layout layout-fill>
            <md-card>
                <img src="" data-ng-src="{{card.source}}" alt="{{card.alt}}" />
                <md-card-footer>{{card.alt}}</md-card-footer>
            </md-card>
        </div>
    </div>
</section>
