<section class="project" layout layout-margin layout-padding layout-wrap>
    <div class="banner" layout layout-fill layout-wrap>
        <h2 flex="90">{{projectCtrl.project.title}}</h2>
        <md-button class="md-fab" href="portfolio">Retour</md-button>
        <p flex="15"><strong>Date :</strong> {{projectCtrl.project.date}}</p>
        <md-chips flex="85">
            <md-chip ng-show="projectCtrl.project.categories.video">
                <small>Vidéo</small>
            </md-chip>
            <md-chip ng-show="projectCtrl.project.categories.branding">
                <small>Branding</small>
            </md-chip>
            <md-chip ng-show="projectCtrl.project.categories.printDesign">
                <small>Design Print</small>
            </md-chip>
            <md-chip ng-show="projectCtrl.project.categories.webdesign">
                <small>Webdesign</small>
            </md-chip>
            <md-chip ng-show="projectCtrl.project.categories.devWeb">
                <small>Développement Web</small>
            </md-chip>
        </md-chips>
    </div>
    <p><strong>Contexte :</strong> {{projectCtrl.project.description.contexte}}</p>
    <p><strong>Réalisation :</strong> {{projectCtrl.project.description.mission}}</p>
    <p><strong>Résultats :</strong> {{projectCtrl.project.description.results}}</p>

    <div layout="row" layout-wrap layout-fill layout-align="space-between center">
        <md-card ng-repeat="img in projectCtrl.project.images track by $index" flex="30">
            <img ng-src="dist/images/projets/{{projectCtrl.project.id}}/{{img.name}}" alt="{{img.alt}}">
            <md-card-footer>{{img.alt}}</md-card-footer>
        </md-card>
    </div>
</section>
