@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*! ==========  Initialisation ==========  */
/* ==========  Compass & Co. ==========  */
/*! ==========  Mise a zero des styles ==========  */
/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * Establish a vertical rhythm unit using $base-font-size, $base-line-height,
 * and $rhythm-unit variables. Also, correct text resizing oddly in IE 6/7 when
 * body `font-size` is set using `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Satisfy);
/* line 106, C:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/typography/_vertical_rhythm.scss */
html {
  font-size: 100%;
  line-height: 1.5em;
}

/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
/* line 33, ../sass/partials/_normalize.scss */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
/* line 45, ../sass/partials/_normalize.scss */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 59, ../sass/partials/_normalize.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 80, ../sass/partials/_normalize.scss */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  *display: inline;
  *zoom: 1;
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 99, ../sass/partials/_normalize.scss */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 */
/* line 109, ../sass/partials/_normalize.scss */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
/* line 118, ../sass/partials/_normalize.scss */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 130, ../sass/partials/_normalize.scss */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
/* line 140, ../sass/partials/_normalize.scss */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 152, ../sass/partials/_normalize.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 160, ../sass/partials/_normalize.scss */
b,
strong {
  font-weight: bold;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 170, ../sass/partials/_normalize.scss */
blockquote {
  margin: 1.5em 40px;
}

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 179, ../sass/partials/_normalize.scss */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 188, ../sass/partials/_normalize.scss */
h1 {
  /* Set the font-size and line-height while keeping a proper vertical rhythm. */
  font-size: 2em;
  line-height: 1.5em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin-top: 0.75em;
  margin-bottom: 0.75em;
}

/* line 203, ../sass/partials/_normalize.scss */
h2 {
  font-size: 1.5em;
  line-height: 2em;
  margin-top: 1em;
  margin-bottom: 1em;
}

/* line 209, ../sass/partials/_normalize.scss */
h3 {
  font-size: 1.17em;
  line-height: 1.28205em;
  margin-top: 1.28205em;
  margin-bottom: 1.28205em;
}

/* line 215, ../sass/partials/_normalize.scss */
h4 {
  font-size: 1em;
  line-height: 1.5em;
  margin-top: 1.5em;
  margin-bottom: 1.5em;
}

/* line 221, ../sass/partials/_normalize.scss */
h5 {
  font-size: 0.83em;
  line-height: 1.80723em;
  margin-top: 1.80723em;
  margin-bottom: 1.80723em;
}

/* line 227, ../sass/partials/_normalize.scss */
h6 {
  font-size: 0.67em;
  line-height: 2.23881em;
  margin-top: 2.23881em;
  margin-bottom: 2.23881em;
}

/**
 * Address styling not present in IE 8/9.
 */
/* line 239, ../sass/partials/_normalize.scss */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Set 1 unit of vertical rhythm on the top and bottom margin.
 */
/* line 250, ../sass/partials/_normalize.scss */
p,
pre {
  margin: 1.5em 0;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 260, ../sass/partials/_normalize.scss */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 268, ../sass/partials/_normalize.scss */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 276, ../sass/partials/_normalize.scss */
sup {
  top: -0.5em;
}

/* line 280, ../sass/partials/_normalize.scss */
sub {
  bottom: -0.25em;
}

/* Lists
   ========================================================================== */
/**
 * Address margins set differently in IE 6/7.
 */
/* line 292, ../sass/partials/_normalize.scss */
dl,
menu,
ol,
ul {
  margin: 1.5em 0;
}

/* line 313, ../sass/partials/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/**
 * Address paddings set differently in IE 6/7.
 */
/* line 321, ../sass/partials/_normalize.scss */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}

/**
 * Correct list images handled incorrectly in IE 7.
 */
/* line 333, ../sass/partials/_normalize.scss */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 348, ../sass/partials/_normalize.scss */
img {
  border: 0;
  /* Improve image quality when scaled in IE 7. */
  -ms-interpolation-mode: bicubic;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 361, ../sass/partials/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 373, ../sass/partials/_normalize.scss */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
/* line 382, ../sass/partials/_normalize.scss */
hr {
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
/* line 391, ../sass/partials/_normalize.scss */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 399, ../sass/partials/_normalize.scss */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * Correct margin displayed oddly in IE 6/7.
 */
/* line 423, ../sass/partials/_normalize.scss */
form {
  margin: 0;
}

/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
/* line 437, ../sass/partials/_normalize.scss */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  *font-family: sans-serif;
  /* 4 */
  *vertical-align: middle;
  /* 5 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 455, ../sass/partials/_normalize.scss */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 466, ../sass/partials/_normalize.scss */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
/* line 481, ../sass/partials/_normalize.scss */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */
/* line 496, ../sass/partials/_normalize.scss */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 505, ../sass/partials/_normalize.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 516, ../sass/partials/_normalize.scss */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
/* line 531, ../sass/partials/_normalize.scss */
input[type="checkbox"],
input[type="radio"] {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 548, ../sass/partials/_normalize.scss */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
/* line 558, ../sass/partials/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}
/* line 568, ../sass/partials/_normalize.scss */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
/* line 578, ../sass/partials/_normalize.scss */
fieldset {
  margin: 0 2px;
  /* Apply borders and padding that keep the vertical rhythm. */
  border-color: #c0c0c0;
  border-top-width: 0.0625em;
  border-top-style: solid;
  padding-top: 0.4625em;
  border-bottom-width: 0.0625em;
  border-bottom-style: solid;
  padding-bottom: 0.9125em;
  border-left-width: 0.0625em;
  border-left-style: solid;
  padding-left: 0.875em;
  border-right-width: 0.0625em;
  border-right-style: solid;
  padding-right: 0.875em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
/* line 594, ../sass/partials/_normalize.scss */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 608, ../sass/partials/_normalize.scss */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 617, ../sass/partials/_normalize.scss */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 628, ../sass/partials/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 633, ../sass/partials/_normalize.scss */
td,
th {
  padding: 0;
}

/*! ========== Grid layout & vertical rythme ==========   */
/* line 203, ../sass/partials/_typesettings.scss */
html {
  font-size: 100%;
}

/* line 207, ../sass/partials/_typesettings.scss */
body {
  margin: 0;
  padding: 0;
  line-height: 1.5;
}

/* line 219, ../sass/partials/_typesettings.scss */
html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 224, ../sass/partials/_typesettings.scss */
body {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", serif;
  font-weight: 400;
  color: #696969;
}

/* line 232, ../sass/partials/_typesettings.scss */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  padding-top: 0;
  padding-bottom: 0;
  font-family: "Futura", "Verdana", "Arial", sans-serif;
  font-weight: bold;
}

/* line 255, ../sass/partials/_typesettings.scss */
h1, .h1 {
  margin-bottom: 0.18756em;
  font-size: 1.9994em;
  line-height: 1.12534;
}
@media (min-width: 43.75em) {
  /* line 255, ../sass/partials/_typesettings.scss */
  h1, .h1 {
    margin-bottom: 0.13264em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}
@media (min-width: 56.25em) {
  /* line 255, ../sass/partials/_typesettings.scss */
  h1, .h1 {
    margin-bottom: 0.09381em;
    font-size: 3.99758em;
    line-height: 0.93807;
  }
}

/* line 271, ../sass/partials/_typesettings.scss */
h2, .h2 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603;
}
@media (min-width: 43.75em) {
  /* line 271, ../sass/partials/_typesettings.scss */
  h2, .h2 {
    margin-bottom: 0.18756em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}
@media (min-width: 56.25em) {
  /* line 271, ../sass/partials/_typesettings.scss */
  h2, .h2 {
    margin-bottom: 0.13264em;
    font-size: 2.82715em;
    line-height: 1.06114;
  }
}

/* line 286, ../sass/partials/_typesettings.scss */
h3, .h3 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603;
}
@media (min-width: 56.25em) {
  /* line 286, ../sass/partials/_typesettings.scss */
  h3, .h3 {
    margin-bottom: 0.18756em;
    font-size: 1.9994em;
    line-height: 1.12534;
  }
}

/* line 296, ../sass/partials/_typesettings.scss */
h4, .h4 {
  margin-bottom: 0.26521em;
  font-size: 1.414em;
  line-height: 1.32603;
}

/* line 301, ../sass/partials/_typesettings.scss */
h5, .h5,
h6, .h6 {
  margin-bottom: 0.375em;
  font-size: 1em;
  line-height: 1.5;
}

/* line 307, ../sass/partials/_typesettings.scss */
p {
  margin-top: 0;
  margin-bottom: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
  max-width: 36em;
}
@media (min-width: 43.75em) {
  /* line 307, ../sass/partials/_typesettings.scss */
  p {
    text-align: justify;
  }
}

/* line 322, ../sass/partials/_typesettings.scss */
p + p {
  margin-top: -1.5em;
  text-indent: 1.5em;
}

/* line 328, ../sass/partials/_typesettings.scss */
small,
.font-small {
  font-size: 0.70721em;
  line-height: 1.59075;
}

/* line 333, ../sass/partials/_typesettings.scss */
em {
  font-style: italic;
}

/* line 337, ../sass/partials/_typesettings.scss */
strong {
  font-weight: bold;
}

/* line 341, ../sass/partials/_typesettings.scss */
blockquote {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  margin-left: 0;
  padding-top: 0;
  padding-bottom: 0;
  padding-left: 1.5em;
  border-left: 6px solid gray;
  font-family: Georgia, "Times New Roman", serif;
}
/* line 351, ../sass/partials/_typesettings.scss */
blockquote p {
  margin-bottom: 0.75em;
}
/* line 357, ../sass/partials/_typesettings.scss */
blockquote footer cite:before {
  content: " – ";
}

/* line 364, ../sass/partials/_typesettings.scss */
pre,
code {
  font-family: "Lucida Console", Monaco, monospace;
}

/* line 369, ../sass/partials/_typesettings.scss */
time,
.time {
  text-transform: uppercase;
}

/* line 374, ../sass/partials/_typesettings.scss */
ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1.5em;
  margin-left: 1.5em;
  padding-top: 0;
  padding-bottom: 0;
}

/* line 384, ../sass/partials/_typesettings.scss */
ul ul,
ol ol,
dl dl {
  margin-left: 0;
}

/* line 390, ../sass/partials/_typesettings.scss */
ul {
  list-style: disc;
}

/* line 394, ../sass/partials/_typesettings.scss */
ol {
  list-style: decimal;
}

/* line 399, ../sass/partials/_typesettings.scss */
abbr {
  font-variant: small-caps;
  font-weight: 600;
  text-transform: lowercase;
}

/* line 406, ../sass/partials/_typesettings.scss */
abbr[title]:hover {
  cursor: help;
}

/* line 412, ../sass/partials/_typesettings.scss */
hr {
  margin-top: 1.5em;
  margin-bottom: 0;
  border: none;
  border-top-color: #696969;
  border-top-style: solid;
  border-top-width: 1px;
  padding-top: 1.4375em;
}

/* line 2, ../sass/partials/_grid.scss */
.wrapper {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  *zoom: 1;
}
/* line 12, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/output/support/_clearfix.scss */
.wrapper:after {
  content: " ";
  display: block;
  clear: both;
}
@media (min-width: 1980px) {
  /* line 2, ../sass/partials/_grid.scss */
  .wrapper {
    width: 1980px;
  }
}

/* line 13, ../sass/partials/_grid.scss */
main {
  width: 100%;
  float: left;
}

/* line 18, ../sass/partials/_grid.scss */
#home {
  width: 100%;
  float: left;
}

/* line 23, ../sass/partials/_grid.scss */
#welcome {
  width: 100%;
  float: left;
}

/* line 28, ../sass/partials/_grid.scss */
#portfolio {
  width: 100%;
  float: left;
  overflow: hidden;
  *zoom: 1;
}

/* line 33, ../sass/partials/_grid.scss */
.portfolio-filter {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}
@media (min-width: 768px) {
  /* line 33, ../sass/partials/_grid.scss */
  .portfolio-filter {
    width: 87.5%;
    float: left;
    margin-left: 6.875%;
    margin-right: 6.875%;
  }
}

/* line 43, ../sass/partials/_grid.scss */
.portfolio-container {
  width: 100%;
  float: left;
}
/* line 45, ../sass/partials/_grid.scss */
.portfolio-container figure {
  width: 23.75%;
  float: left;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.portfolio-container figure:nth-child(4n + 1) {
  margin-left: 0.625%;
  margin-right: -100%;
  clear: both;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.portfolio-container figure:nth-child(4n + 2) {
  margin-left: 25.625%;
  margin-right: -100%;
  clear: none;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.portfolio-container figure:nth-child(4n + 3) {
  margin-left: 50.625%;
  margin-right: -100%;
  clear: none;
}
/* line 66, C:/Ruby22/lib/ruby/gems/2.2.0/gems/susy-2.2.12/sass/susy/language/susy/_gallery.scss */
.portfolio-container figure:nth-child(4n + 4) {
  margin-left: 75.625%;
  margin-right: -100%;
  clear: none;
}
/* line 47, ../sass/partials/_grid.scss */
.portfolio-container figure img {
  width: 100%;
}
/* line 51, ../sass/partials/_grid.scss */
.portfolio-container article {
  width: 100%;
  float: left;
  overflow: hidden;
  *zoom: 1;
  position: relative;
}
/* line 57, ../sass/partials/_grid.scss */
.portfolio-container .og-close {
  position: absolute;
}
/* line 60, ../sass/partials/_grid.scss */
.portfolio-container .carousel,
.portfolio-container .og-details {
  width: 86.25%;
  float: left;
  margin-left: 0.625%;
  margin-right: 0.625%;
  margin-left: 6.875%;
  margin-right: 6.875%;
}

/* line 68, ../sass/partials/_grid.scss */
#contact {
  width: 100%;
  float: left;
}

/* line 73, ../sass/partials/_grid.scss */
:root {
  font-size: 85%;
  line-height: 1.4;
}
@media (min-width: 768px) {
  /* line 73, ../sass/partials/_grid.scss */
  :root {
    font-size: calc(85% + 3 * (100vw -768px) / 1212);
  }
}
@media (min-width: 1980px) {
  /* line 73, ../sass/partials/_grid.scss */
  :root {
    font-size: 110%;
  }
}

/* line 84, ../sass/partials/_grid.scss */
h1,
.h1 {
  font-size: 2.5rem;
  margin-bottom: 0.74977em;
}
@media (min-width: 768px) {
  /* line 84, ../sass/partials/_grid.scss */
  h1,
  .h1 {
    font-size: 4.8rem;
  }
}

/* line 93, ../sass/partials/_grid.scss */
q {
  font-size: 1.5rem;
}
@media (min-width: 768px) {
  /* line 93, ../sass/partials/_grid.scss */
  q {
    font-size: 2rem;
  }
}

/* line 100, ../sass/partials/_grid.scss */
h2,
.h2 {
  font-size: 2.5rem;
}

/* line 105, ../sass/partials/_grid.scss */
h3,
.h3 {
  font-size: 2.3rem;
}

/* line 110, ../sass/partials/_grid.scss */
h4,
.h4 {
  font-size: 2rem;
}

/* line 115, ../sass/partials/_grid.scss */
h5,
.h5,
figcaption {
  font-size: 1.33rem;
}

/* line 121, ../sass/partials/_grid.scss */
p,
h6,
.h6,
nav a,
.btn {
  font-size: 1rem;
}

/*! ========== UI Elements ========== */
@font-face {
  font-family: 'Futura';
  src: "../fonts/FuturaStd_CondensedBold.otf" format("opentype");
  font-stretch: condensed;
}
@font-face {
  font-family: 'Futura';
  src: "../fonts/FuturaStd_Heavy.otf" format("opentype");
  font-weight: bold;
}
@font-face {
  font-family: 'Futura';
  src: "../fonts/FuturaStd_Book.otf" format("opentype");
  font-weight: normal;
}
@font-face {
  font-family: 'Futura';
  src: "../fonts/FuturaStd_Light.otf" format("opentype");
  font-weight: 100;
}
/* line 28, ../sass/partials/_base.scss */
h4,
.h4,
h5,
.h5,
figcaption,
q {
  font-family: 'Satisfy', cursive;
}

/* line 38, ../sass/partials/_base.scss */
h1,
.h1 {
  font-family: 'Futura', 'Verdana', 'Arial', sans-serif;
  font-stretch: condensed;
}

/* line 45, ../sass/partials/_base.scss */
h2,
.h2,
h3,
.h3 {
  font-family: 'Futura', 'Verdana', 'Arial', sans-serif;
  font-weight: bold;
}

/* line 54, ../sass/partials/_base.scss */
nav a {
  font-family: 'Futura', 'Verdana', 'Arial', sans-serif;
  font-weight: normal;
  color: #8ad9d9;
}

/* line 61, ../sass/partials/_base.scss */
h6,
.h6,
p,
.btn {
  font-family: 'Futura', 'Verdana', 'Arial', sans-serif;
  font-weight: 100;
}

/* line 70, ../sass/partials/_base.scss */
img {
  max-width: 100%;
}

/* line 1, ../sass/partials/_navigation.scss */
header {
  position: fixed;
  z-index: 1;
  width: 100%;
}

/* line 7, ../sass/partials/_navigation.scss */
nav {
  width: 100%;
  margin: 0;
  padding: 0;
}
/* line 11, ../sass/partials/_navigation.scss */
nav ul {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-flex-direction: column;
  flex-direction: column;
  background-color: rgba(255, 251, 242, 0.9);
  width: 66.66%;
  margin: 0;
  padding: 0;
  transform: translateX(-110%) translateZ(0);
  transition: transform 0.3s cubic-bezier(0.05, 1.06, 0.19, 1.26);
  will-change: transform;
}
/* line 27, ../sass/partials/_navigation.scss */
nav ul li {
  list-style: none;
}
/* line 30, ../sass/partials/_navigation.scss */
nav ul a {
  display: block;
  margin: 0;
  padding: 1em;
  text-decoration: none;
  color: #378c8c;
}
/* line 36, ../sass/partials/_navigation.scss */
nav ul a:hover, nav ul a:target, nav ul a:active {
  color: #e95b5b;
  background-color: #ffa2a2;
}
/* line 44, ../sass/partials/_navigation.scss */
nav input {
  display: none;
}
/* line 47, ../sass/partials/_navigation.scss */
nav input:checked ~ ul {
  transform: translateX(0) translateZ(0);
}
/* line 51, ../sass/partials/_navigation.scss */
nav label {
  background-color: rgba(255, 251, 242, 0.9);
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 50px;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.2s -webkit-transform cubic-bezier(0, 1.8, 1, 1.2);
  transition: 0.2s transform cubic-bezier(0, 1.8, 1, 1.2);
}
/* line 64, ../sass/partials/_navigation.scss */
nav label::before {
  content: "";
  display: block;
  z-index: 1;
  height: 1.6rem;
  width: 2rem;
  background-color: transparent;
  background-image: linear-gradient(to right, #5bb4b4, #5bb4b4), linear-gradient(to right, #5bb4b4, #5bb4b4), linear-gradient(to right, #5bb4b4, #5bb4b4);
  background-position: center top, center, center bottom;
  background-repeat: no-repeat;
  -webkit-background-size: 2rem .3rem;
  background-size: 2rem .3rem;
  margin: .75em;
  padding: 0;
  outline: 0;
  border: 0;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: 0.2s cubic-bezier(0, 1.8, 1, 1.2);
  transition: 0.2s cubic-bezier(0, 1.8, 1, 1.2);
  transition-property: background;
}
/* line 89, ../sass/partials/_navigation.scss */
nav input:checked + label::before {
  background-position: center, center, center;
}
@media (min-width: 768px) {
  /* line 94, ../sass/partials/_navigation.scss */
  nav ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    width: 100%;
    transform: none;
    transition: none;
    background-color: rgba(255, 251, 242, 0);
  }
  /* line 100, ../sass/partials/_navigation.scss */
  nav ul:hover {
    background-color: rgba(255, 251, 242, 0.9);
  }
  /* line 104, ../sass/partials/_navigation.scss */
  nav label {
    display: none;
  }
}

/* ANCIENNE PRESENTATION
nav {
    @include display-flex(flex);
    @include justify-content(flex-start);

    &:hover,
    &:target,
    &:active {
        @include alpha-attribute(background-color, rgba(palette(jaune, light), 0.9), $white);
    }

    a {
        color: palette(bleu);
        display: block;
        padding: 1em gutter(12);
        text-decoration: none;
        &:hover,
        &:target,
        &:active {
            color: palette(bleu, dark);
        }
    }
}
*/
/*! ========== Sections  ========== */
/* line 1, ../sass/partials/_home.scss */
#home {
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/black-zig-zag.png) repeat fixed, url(../images/collage-geometrique2.jpg) center no-repeat fixed;
  background-size: auto, cover;
  text-align: center;
}
/* line 11, ../sass/partials/_home.scss */
#home h1 {
  color: #ffa2a2;
}
/* line 14, ../sass/partials/_home.scss */
#home q {
  color: #fffbf2;
}
@media (min-width: 768px) {
  /* line 1, ../sass/partials/_home.scss */
  #home {
    height: 100vh;
  }
}

/* line 2, ../sass/partials/_portfolio.scss */
#portfolio .portfolio-filter {
  padding: 0;
}
/* line 4, ../sass/partials/_portfolio.scss */
#portfolio .portfolio-filter li {
  list-style: none;
  margin: 0;
  display: flex;
  justify-content: center;
}
