//  ==========  Layout général  ==========
html, body{
    background-color: $white;
}
//  ==========  Paramètres images  ==========
img {
    max-width: 100%;
    height: auto;
}

figure {
    margin-top: 0;
    margin-bottom: 0;
    overflow: hidden;
    img {
        display: block;
        width: 100%;
    }
}


//  ==========  iframe responsive  ==========
.iframe-responsive-wrapper        {
    position: relative;
}

.iframe-responsive-wrapper .iframe-ratio {
    display: block;
    width: 100%;
    height: auto;
}

.iframe-responsive-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
