//  ==========  Grille horizontale : Div conteneur  ==========
.wrapper {
    @include container(12);
    @include clearfix;
    @include breakpoint($container-max-width) {
        width: $container-max-width;
    }
}

//* {border: 1px solid blue;}
//  ========== Corps principal  ==========
main {
    @include span(12 full nest);

    section {
        padding-top: emRhythm(8, $ms-up1);
        padding-bottom: emRhythm(8, $ms-up1);
    }
    .container {
        @include breakpoint($media-desktop-min){
            @include span(10 nest);
            @include squish(1);
        }
    }
}

//  ==========  Section Home  ==========
.home {
    @include span(12 full nest);
}

//  ==========  Section Bienvenue  ==========
.welcome {
    @include span(12 full);
    .shape-coeurs {
        @include break;
        @include span(4 of 12);
    }

    aside figure {
        @include span(12);
    }

    @include breakpoint($media-tablet-min $media-tablet-max) {
        p {
            @include span(8 at 4 of 12);
        }

        aside {
            @include span(12 full nest);
            figure {
                @include span(6 of 12);
            }
        }
    }
    @include breakpoint($media-desktop-min) {
        p {
            @include span(12 full);
        }
        aside {
            @include span(8 at 5 of 12);
            figure {
                @include span(6 of 12);
            }
        }
    }
}

//  ==========  Section Portfolio  ==========
.portfolio {
    @include span(12 full nest);
    @include clearfix;
    h2 {
        @include span(3 of 12);
    }
}

.portfolio-filter {
    padding-bottom: emRhythm(8, $ms-up1);
    @breakpoint($media-mobile-paysage){
        @include span(12);
    }

    @breakpoint($media-tablet-min) {
        @include span(10 of 12);

    }
}

//  ==========  Section Contact  ==========
.contact {
    @include span(12 full nest);
}
