.contact {
    min-height: 100vh;
    background: url('images/hero2.jpg') fixed;
    background-size: cover;
    .wrapper {
        margin: $verticalMargin $horizontalMargin;
        background-color: rgba(palette(jaune, light), 0.9);
    }
}
