.home {
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: url(../assets/images/black-zig-zag.png) repeat fixed,
        url(../assets/images/collage-geometrique2.jpg) center no-repeat fixed;
    background-size: auto, cover;
    text-align: center;
    h1 {
        color: palette(peach);
    }
    q {
        color: palette(jaune, light);
    }

    @include breakpoint($media-tablet-min){
        height: 100vh;
    }
}
