.home {
    min-height: 100vh;
    background: url('../images/black-zig-zag.png') repeat fixed,
        url('../images/collage-geometrique2.jpg') center no-repeat fixed;
    background-size: auto, cover;
    text-align: center;
    h1 {
        color: palette(peach, mid-dark);
    }
    q {
        color: palette(jaune, dark);
        background-color: rgba(palette(jaune, light), 0.8);
    }
}
