.portfolio {
    margin-top : $verticalMargin;
}


//Styles figcaption pour md-grid
.figcaption {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background-color: rgba(palette(bleu, dark), 0.6);
    h3 {
        font-size: 1.2rem;
        font-weight: 500;
        margin-bottom: 0;
        color: palette(jaune, light);
    }
    p {
        font-size: 0.9rem;
        margin-bottom: 0;
    }
}
