.project {
    .banner {
        background: url('../images/black-zig-zag.png') repeat, url('../images/hero2.jpg') center no-repeat;
        background-size: auto, cover;
        position: relative;
        z-index: 201;

        .banner-subtitle {
            background-color: rgba(palette(bleu, light), 0.8);
            padding: 0 $horizontalMargin;
        }
    }
    #button-back {
        position: absolute;
        bottom: 20vh;
        right: 10vw;

        @include breakpoint($media-tablet-min){
            bottom: 12vh;
        }
    }
    h2 {
        margin: $verticalMargin $horizontalMargin;
        color: palette(peach, base);
    }
    .md-chips {
        box-shadow: none;
    }
    md-chips md-chip {
        background-color: palette(bleu, mid-dark);
        color: $white;
    }
    .content {
        margin: $verticalMargin $horizontalMargin;

        &>div{
            margin: $verticalMargin auto;
        }
    }

}
