<section class="welcome" layout="row" layout-wrap layoutgt-sm-margin layout-padding layout-align="start start">
    <h2 flex="100">Bienvenue</h2>
    <figure class="shape-coeurs" flex="33" flex-offset="10">
        <img src="dist/images/profil/photoProfil.jpg" alt="Charlotte Rouby" />
    </figure>
    <div flex-xs flex-sm flex-gt-sm="66">
        <p>Je suis designer graphique et développeuse front-end. Comme vous pouvez le voir sur mon CV, j'ai fait des études en Histoire de l'Art et Gestion/Valorisation du Patrimoine culturel. Suite à cela, j'ai effectué le remplacement de congé maternité de la chef du service patrimoine de Velaux, dont la mission principale était la réalisation de la communication autour des musées et du site archéologique de la ville : visites guidées et conception d'affiches, de livrets pédagogiques, de flyers, de panneaux d'expositions, etc. </p>
        <p>Ces missions très enrichissantes m'ont permis d'apprendre l'importance du détail, le choix des mots justes pour capter l'attention du visiteur et ne pas le perdre, la hiérarchisation des informations, le sens du design et l'utilisation de grilles de mise en page pour un rendu ergonomique.</p>
        <p>Cet aspect 'communication' du métier m'a tellement plû, que j'ai fais la licence pro Création pour le Web à l'IUT d'Arles car je pense qu'aujourd'hui la com se fait surtout sur le web. J'ai ainsi appris le webdesign et les langages web HTML5, CSS3 et javascript. J'ai depuis approfondis ces notions par des tutoriels, une pratique du javascript sur coding game, et des projets personnels et freelance dont vous pouvez en voir certains sur ce portfolio et mon compte <a href="https://github.com/charlotterouby">github</a>.</p>
    </div>

    <aside flex="100" layout layout-wrap layout-align="space-around center">
       <h4>Pour en savoir plus</h4>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/oUSHi5GRUjE" allowfullscreen></iframe>
    </aside>
</section>
